/* .stApp {
  background: linear-gradient(to bottom, #ffa469, #ffd9b2);
  text-align: center;
} */

.stAppHeader {
  background: transparent !important;
  box-shadow: none !important;
}

[class*= "stElementContainer element-container st-key-generate_button"] button {
    height: 200px;
}

.stElementContainer {
  width: 100%;
}


/* [data-theme="dark"] .stApp {
  background: linear-gradient(to bottom, #00264d, #005b96);
  color: black;
}

[data-theme="light"] .stApp {
  background: linear-gradient(to bottom, #ffa469, #ffd9b2);
  color: white;
}

[data-theme="use system setting"] .stApp {
  background: linear-gradient(to bottom, #a2aa92, #cccccc);
  color: black;
} */

/* .stApp * {
  background: transparent !important;
}

.stSelectboxVirtualDropdown * {
  background: transparent !important;
}

.stButton button {
  background-color: transparent !important;
}

.stFileUploader section,
.stFileUploader button {
  background-color: transparent !important;
}

.stMultiSelect
 > [class^="st-emotion-cache-"] > [class^="st-"]
 {
  background-color: transparent !important;
}

.stSelectboxVirtualDropdown > li {
  background-color: transparent !important;
}

.stDataFrameResizable {
  background-color: transparent !important;
} */